body{background:url(bg.jpg) center fixed no-repeat #e5e5e5;}
#theme h1 a{color:#16c6cc;}/*color for main title*/
#theme h1 strong{color:#d1450a;}/*color for the name in main title*/
#theme header p{color:#e5e5e5;}
#theme a.caption-title{color:#d1450a;border-top:1px dotted #d1450a;border-bottom:1px dotted #d1450a;}/*color for caption in info panel on hover*/
#theme div.cap-special h3 a.caption-title{color:#d1450a;border:none;}/*color for caption in info panel on hover*/
#theme section#portfolio{background:#d1450a;}/*portfolio background color*/
#portfolio nav ul#nav-works li{background-color:#d1450a;}/*filter navigation background-color*/
#portfolio nav ul#nav-works li a.current, #portfolio nav ul#nav-works li a:hover{color:#d1450a;}/*filter navigation hover font color*/
#portfolio nav ul#nav-works li#nav-first-child{background-color:#d1450a;}
#portfolio ul li div.work-caption span.year, #portfolio ul li div.work-caption span.type{color:#d1450a;}/*year and category item color*/
#portfolio ul li div.work-caption span.magnify a{color:#d1450a;}/*plus button color*/
#portfolio ul li div.work-caption span.magnify a:hover{background:#d1450a;color:#1d1d1d;}
footer h4{color:#d1450a}/*footer h4 color*/
footer section#footer-map-section ul li small{background-color:#d1450a;}
#theme div#pagination span.arrow a:hover{color:#d1450a;}