#theme h1 a{color:#C30;}/*color for main title*/
#theme h1 strong{color:#FFF;}/*color for the name in main title*/
#theme a.caption-title{color:#049c5f;border-top:1px dotted #049c5f;border-bottom:1px dotted #049c5f;}/*color for caption in info panel on hover*/
#theme div.cap-special h3 a.caption-title{color:#049c5f;border:none;}/*color for caption in info panel on hover*/
#theme footer ul#contact-info li{color:#3a3a3a;}/*color for contact info data*/
#theme header{background:#1d1d1d;}
#theme header p{color:#e5e5e5;}
#theme section#portfolio{background:#049c5f;}
#portfolio nav ul#nav-works li{background-color:#049c5f;}
#portfolio nav ul#nav-works li a.current, #portfolio nav ul#nav-works li a:hover{color:#049c5f;}
#portfolio nav ul#nav-works li#nav-first-child{background-color:#049c5f;}
#portfolio ul li div.work-caption span.year, #portfolio ul li div.work-caption span.type{color:#049c5f;}/*year and category item color*/
#portfolio ul li div.work-caption span.magnify a{color:#049c5f;}/*plus button color*/
#portfolio ul li div.work-caption span.magnify a:hover{background:#049c5f;color:#1d1d1d;}
#theme div#pagination span.arrow a:hover{color:#049c5f;}
footer h4{color:#049c5f}/*footer h4 color*/
footer section#footer-map-section ul li small{background-color:#049c5f;}
