body 
{
    /* background-image: url(../images/background.png); */
    /* background-color: rgb(102,102,102);
    background-image: url(../images/logo2.png); */
    margin: center;
    width: 80%;
    padding-left:10%;   
}

#homePage
{
    background-color: rgb(102,102,102);
}
.navBar
{
    height: 20px;
}
#logoImage{
    opacity: 1;

}
#logoImage:hover {
opacity: 0.5;
}
.medium{
color: rgb(211, 100, 160);
}

#linked{
    color:rgb(102,102,102);
    font-size: 50px;
}
/* #about {position: relative;
    width: 100%;
    background:#ffffff;
    height:80px;
    padding-bottom: 20px;
    border-bottom: 1px solid #777777;

}
#Naomi{
    color: #ffffff;
    line-height: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
    margin-bottom: 20px;
    background: #4aaaa5;
    float:left;
}

a.links:link {
    color: #777777;
}
a.links:visited{
    color: #777777;
    
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    font-weight: bold;
}
#links {

    line-height: 10px;
    font-size: 15px;
    padding: 30px;
    margin-bottom: 20px;

    text-align: right;
    width:100%;
    word-spacing: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

} */

/* #logoImage{
    width: 10%;
    height: 10%;
} */
.nav-wrapper 
{
    background-color:rgb(102,102,102);
    margin: auto;
    height: 30%;
    /* width: 80%; */
    /* padding: 20px;
    margin: 0 auto; */
    /* position: center; */
    font-family: 'Georgia', Times, Times New Roman, serif;

}
.card
{
    /* width: 30%; */
}
/* #footer{
    text-align: center;
    color:#ffffff;
    font-size: 12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 100;
    width: 130%;
    height: 11px;
    background:#666666;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
    right:-200px;


}
.br{
    line-height: 2px;
}
.main{
  position: relative;
  height: 460px;
  background:#ffffff;
  padding-bottom: 10px;
  top: 35px;
}
#bio {
    width:960px;
    padding: 20px;
    margin: 0 auto; 
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    color:#777777;
   
    font-size: 17px;
    
}
#port{
    width:960px;
    padding: 20px;
    margin: 0 auto; 
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    color:#777777;
    line-height: 30px;
    font-size: 17px;
}
.text {
position: relative;
  height: 500px;
  background:#ffffff;
  padding-bottom: 10px;
  top: 35px;
}
#photo {
    float:left;
    margin-right: 2em;

}
#ContactMe{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: -40px;
    
}
#name{
    width: 950px;
}
#message{
    width: 950px;
    height: 150px;
}
#button {
    color: #ffffff;
    line-height: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    background: #4aaaa5;
    top: -10px;
    float:left;
}
.First{
    float:left;
}
#image1 {
    padding-right: 20px;
}

.text {
        position: relative;
        height: 900px;
        background:#ffffff;
        padding-bottom: 10px;
        top: 35px;
      }
.hang{ 
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    padding: 15px;
    padding-bottom: -10px;
    width: 90%;
    line-height: 30 px;
    margin-bottom: 0;
    font-weight: 300;
    bottom: 80px;
}

.game{ 
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    padding: 15px;
    padding-bottom: -10px;
    width: 90%;
    line-height: 30 px;
    margin-bottom: 0;
    font-weight: 300;
    bottom: 80px;
}

.trivia {
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    padding: 15px;
    padding-bottom: -10px;
    width: 84.5%;
    line-height: 30 px;
    margin-bottom: 0;
    font-weight: 300;
    bottom: 80px;
}

.Rutgers {
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    padding: 15px;
    padding-bottom: -10px;
    width: 270px;
    line-height: 30 px;
    margin-bottom: 0;
    font-weight: 300;
    bottom: 80px;
    float:left;

}
.Third {
    
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    padding: 15px;
    padding-bottom: -10px;
    width: 270px;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 300;
    bottom: 80px;
    float:left;
    left: 325px;
    bottom: 300px;

}
.Rock {
    color: #ffffff;
    background: #4aaaa5;
    padding: 15px;
    padding-right: 24px;
    text-align: center;
    width: 260px;
    bottom: 270px;
    position: relative;
    bottom: 80px;
}
@media screen and (max-width: 980px) {

    #name {
        width: 100%;
    }
    #message {
        width:100%;
        height: 100px;
    }
    #bio {
        width:640px;
        height: 900px;
        position: absolute;
        left: 20px;
        top: 130px;
    }
    
      .text {
          width:400px;
          position: absolute;
          left: 20px;
          top: 130px;
          
      }
      #links {
        width:850px;
      } 

      #about {
        width: 970px;
       }
    #image1 {
        height: 150px;
        width: 250px;
        }
       
    #photo {

        height: 200px;
        width: 170px;
    }
    #footer{
        width: 970px;
        left: -210px;
        
}
.first-image
{   height: 150px;
    width: 250px;

}
.hang{ 

    width: 220px;
    bottom: 70px;
}
.second-image
{   
    height: 150px;
    width: 250px;
    position: relative;
    bottom: 30px;
    
}
.game
{ 
    width: 220px;
    position: relative;
    bottom: 100px;

}
.third-image
{   height: 150px;
    width: 250px;
    top: -500px;
    position: absolute;
    top: 470px;
    }

.trivia{ 
    width: 220px;
    position: relative;
    top: 290px;
    
    
}

.forth-image
{   height: 150px;
    width: 250px;

}
.Rutgers{
    width: 220px;
    bottom: 70px;
}
.fifth-image
{   height: 150px;
    width: 250px;
    position: relative;
    left: -50px;
    bottom: 130px;

}
.Rock{
    width: 211px;
    left: -50px;
    bottom: 200px;
    
}


#wrapper {
    left: -300px;
}

}

@media screen and (max-width: 768px) {

    #name {
        width: 100%;
    }
    #message {
        width: 100%;
        height: 100px;
    }
    .main{
    
        height: 550px;
        width:100%;
      }
      #bio {
          width:100%;
          height: 900px;
          
          
      }
      #links {
        width:650px;
      } 

      #about {
        width: 730px;
       
    
    }
    .text{
        width: 600px;
    
    }
    #photo {

        height: 200px;
        width: 170px;
    }

  
    #footer{
        width: 740px;
        left: -210px;
}

}

    @media only screen and (max-width: 640px) {
#Naomi {
            width: 530px;
            text-align: center;
            padding: 23px;
            margin: 0;
            display: inline-block;
      
        }
       
        #links {
         padding-top: 20px;
         float: left;
         width:440px;
        }
        #about {
            width: 100%;
            height: 95px;
   }
   
   #bio {
    width:100%;
    height: 2500px;
    
}
.text {
    height: 2400px;
}
#name {
    width: 100%;
    height: 50px;
}
#message {
    width: 100%;
    height: 100px;
}
.first-image{
    width: 550px;
    height: 400px;
}
.first-image{
    width: 550px;
    height: 400px;
}
.hang{ 

    width: 520px;
    
}
.second-image
{   height: 400px;
    width: 550px;
    position: relative;
    bottom: 20px;
    
}
.game{ 
    width: 520px;
    top: -90px;

}

.third-image
{   height: 400px;
    width: 550px;
    top: 990px;
    position: absolute;

    
    }

.trivia{ 
    width: 520px;
    top: 1060px;
}
#photo {

    height: 500px;
    width: 550px;
}


.forth-image
{   height: 400px;
    width: 550px;
    position: relative;
    bottom: -1120px;


}
.Rutgers{
    width: 520px;
    bottom: 70px;
    bottom: -1050px;
}




.fifth-image
{   height: 400px;
    width: 550px;
    position: relative;
    left: -320px;
    bottom: -100px;

}
.Rock{
    width: 510px;
    left: -320px;
    bottom: -30px;
    
}


    } */