body{background:url(bg.jpg) center fixed no-repeat #f8f1df;}
#theme h1 a{color:#d3b331;}/*color for main title*/
#theme h1 strong{color:#55ffee;}/*color for the name in main title*/
#theme header p{color:#e5e5e5;}
#theme a.caption-title{color:#d3b331;border-top:1px dotted #d3b331;border-bottom:1px dotted #d3b331;}/*color for caption in info panel on hover*/
#theme div.cap-special h3 a.caption-title{color:#d3b331;border:none;}/*color for caption in info panel on hover*/
#theme section#portfolio{background:#d3b331;}/*portfolio background color*/
#portfolio nav ul#nav-works li{background-color:#d3b331;}/*filter navigation background-color*/
#portfolio nav ul#nav-works li a.current, #portfolio nav ul#nav-works li a:hover{color:#d3b331;}/*filter navigation hover font color*/
#portfolio nav ul#nav-works li#nav-first-child{background-color:#d3b331;}
#portfolio ul li div.work-caption span.year, #portfolio ul li div.work-caption span.type{color:#d3b331;}/*year and category item color*/
#portfolio ul li div.work-caption span.magnify a{color:#d3b331;}/*plus button color*/
#portfolio ul li div.work-caption span.magnify a:hover{background:#d3b331;color:#1d1d1d;}
footer h4{color:#d3b331}/*footer h4 color*/
footer section#footer-map-section ul li small{background-color:#d3b331;}
#theme div#pagination span.arrow a:hover{color:#d3b331;}