#theme h1 a{color:#deeb0e;}/*color for main title*/
#theme h1 strong{color:#59e07b;}/*color for the name in main title*/
#theme a.caption-title{color:#c4003f;border-top:1px dotted #c4003f;border-bottom:1px dotted #c4003f;}/*color for caption in info panel on hover*/
#theme div.cap-special h3 a.caption-title{color:#c4003f;border:none;}/*color for caption in info panel on hover*/
#theme #portfolio ul li div.work-caption span.type small{background:#c4003f;color:#e5e5e5;}
#theme header{background:#1d1d1d;}
#theme header p{color:#e5e5e5;}
#theme section#portfolio{background:#c4003f;}
#portfolio nav ul#nav-works li{background-color:#c4003f;}
#portfolio nav ul#nav-works li a.current, #portfolio nav ul#nav-works li a:hover{color:#c4003f;}
#portfolio nav ul#nav-works li#nav-first-child{background-color:#c4003f;}
#portfolio ul li div.work-caption span.year, #portfolio ul li div.work-caption span.type{color:#c4003f;}/*year and category item color*/
#portfolio ul li div.work-caption span.magnify a{color:#c4003f;}/*plus button color*/
#portfolio ul li div.work-caption span.magnify a:hover{background:#c4003f;color:#1d1d1d;}
#theme div#pagination span.arrow a:hover{color:#c4003f;}
footer h4{color:#c4003f}/*footer h4 color*/
footer section#footer-map-section ul li small{background-color:#c4003f;}
